<p class="lead">Flickr Search</p>
<form action="" method="POST" role="form">
  <div class="form-group">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </div>
</form>
<div class="row">
  <% 50.times do %>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/200x200" alt="">
      </a>
    </div>
  <% end %>
</div>