<!DOCTYPE html>
<html>
  <head>
    <title>FlickrSearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content" class="container">
      <%= yield %>
      <div id="footer">
        &copy; 2017 Junior Grossi - 
        <a href="http://github.com/jgrossi/flickr_search">github.com/jgrossi/flickr_search</a> - 
        <a href="http://jgrossi.com">jgrossi.com</a>
      </div>
    </div>
  </body>
</html>
